nav .logo img{
    height: 50px;
    width: auto;
    transition: all 0.8s;
}
nav .logo{
    cursor: pointer;
    margin-right: auto;
    padding-right: 20px;
}

nav .logo img:hover{
    transform: scale(1.3);
}

.navbar {

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.navbar-nav{
  justify-content: right;
  
  
}
.nav-item{
  color:antiquewhite;
  list-style-type: none;
}

