
<!-----------------H O M E---------------------------------------->


  <div class="intro">
      <app-adicionales></app-adicionales>
    <p>
      Bienvenido, puedes documentar facilmente desde ya
    </p>
  </div>


<main class="main">


<section class="section">

  <div class="card" style="width: 18rem;">
    <img src="https://th.bing.com/th/id/OIP.uVMkMeaYjAgxm-g87ByWAQAAAA?rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Power Point</h5>
      <p class="card-text">Selecciona esta seccion para poder crear tu primer archivo PPT</p>
      <a href="#" class="btn btn-primary">Create ppt</a>
 
    </div>
  </div>

 

  <div class="card" style="width: 18rem;">
    <img src="https://th.bing.com/th/id/OIP.3tTT4WPiO_1-Y3M5LNJvyQHaHa?rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Word</h5>
      <p class="card-text">Selecciona esta seccion para poder crear tu primer archivo WORD</p>
      <a href="#" class="btn btn-primary">Create word</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="https://avtoxis.ru/files/excel.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Excel</h5>
      <p class="card-text">Selecciona esta seccion para poder crear tu primer archivo EXCEL</p>
      <a href="#" class="btn btn-primary">Create excel</a>
    </div>
  </div>

</section>


</main>










<aside>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Accordion Item #1
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Accordion Item #2
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
      </div>
    </div>
  </div>
</aside>


<!----------------------CARRUSEL---------------------------------->



<div id="carouselContainer" class="container">

<div class="container">
  <div class="card_XD">
    <img class="background" src="https://images.unsplash.com/photo-1503614472-8c93d56e92ce?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D" alt="Imagen 1">
    <div class="card_XD-content">
      <h3 class="title">Hola mundo</h3>
    </div>
    <div class="backdrop"></div>
  </div>

  <div class="card_XD">
    <img class="background" src="https://hips.hearstapps.com/hmg-prod/images/colmar-1649168611.jpg" alt="Imagen 2">
    <div class="card_XD-content">
      <h3 class="title">Hola mundo</h3>
    </div>
    <div class="backdrop"></div>
  </div>

  <div class="card_XD">
    <img class="background" src="https://media.traveler.es/photos/6422b07cf8cf633defb0e1b3/16:9/w_2560%2Cc_limit/GettyImages-922671166.jpg" alt="Imagen 3">
    <div class="card_XD-content">
      <h3 class="title">Hola mundo</h3>
    </div>
    <div class="backdrop"></div>
  </div>

  <div class="card_XD">
    <img class="background" src="https://i.blogs.es/9e1322/1920px-pont_besalu_1/1366_2000.jpg" alt="Imagen 4">
    <div class="card_XD-content">
      <h3 class="title">Hola Mundo</h3>
    </div>
    <div class="backdrop"></div>
  </div>

  <div class="card_XD">
    <img class="background" src="https://images.unsplash.com/photo-1620015092538-e33c665fc181?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aGVybW9zYSUyMGNpdWRhZHxlbnwwfHwwfHx8MA%3D%3D" alt="Imagen 5">
    <div class="card_XD-content">
      <h3 class="title">Hola Mundo</h3>
    </div>
    <div class="backdrop"></div>

  </div>













<!----------------------CARRUSEL---------------------------------->



