

<div class="intro">

  <app-adicionales></app-adicionales>

    <p>
      Bienvenido, puedes documentar facilmente desde ya
    </p>
    
  

</div>

<main class="main">

<section class="section">
  
  <div class="card" style="width: 18rem;">
    <img src="https://img.freepik.com/foto-gratis/pintura-lago-montana-montana-al-fondo_188544-9126.jpg?t=st=1712778775~exp=1712779375~hmac=097cffb781ff2c5f074163cb1b8b3f01f31d4a652b406ae0b6e04adc85eb4d2b" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Create ppt</a>
 
    </div>
  </div>

 

  <div class="card" style="width: 18rem;">
    <img src="https://img.freepik.com/foto-gratis/arbol-solitario_181624-46361.jpg?w=740&t=st=1712779544~exp=1712780144~hmac=12d7fa425e292732162b6323047320d2a5e57a06715de2603e831670c73b5f11" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Create word</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="https://img.freepik.com/foto-gratis/impresionante-foto-hermosas-piedras-agua-turquesa-lago-colinas-fondo_181624-12847.jpg?w=740&t=st=1712779574~exp=1712780174~hmac=1282885b93f3508bcb57832b250534f1c9ff723be770f1086964c06fe69ccc6e" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Create excel</a>
    </div>
  </div>

</section>


</main>